<div class="center hero-unit">
  <h1>Home</h1>

  <%= link_to "Movement Outside The Home", gps_data_path, :class=> "btn btn-large btn-primary" %>
  <%= link_to "Health Data", @Health_Data, :class=> "btn btn-large btn-primary" %>
</div>
