<div class="center hero-unit">
  <h1>Home</h1>

  <%= link_to "Movement Outside The Home", gps_data_path, :class=> "btn btn-large btn-primary" %></br></br>
  <%= link_to "Health Data", @Health_Data, :class=> "btn btn-large btn-primary" %></br></br>
  <%= link_to "Sleep Data", sleep_data_path, :class=> "btn btn-large btn-primary" %></br></br>
  <%= link_to "Movement Within The Home", sensor_data_path, :class=> "btn btn-large btn-primary" %></br></br>
</div>
