<h1>Panic Alarm History</h1>
<p> Uses of the panic alarm in the last week are highlighted in yellow </p>

<table border = '1' width = '500px'>
  <tr>
    <th>Date</th>
    <th>Time</th>
  </tr>

<% @panic_alarms.each do |panic_alarm| %>
<% if panic_alarm.activated == true %>
  <tr<% if Time.now - panic_alarm.created_at < 604800 %> style="background-color: yellow;" <%end%>>
    <td ><%= panic_alarm.created_at.to_date.strftime("%d/%m/%Y") %></td>
    <td><%= panic_alarm.created_at.strftime('%H:%M:%S') %></td>
  </tr>
  <% end %>
<% end %>
</table>



<br />

