<h1> Health Data <h1>
  <h2> <%= @health_datum.created_at.to_date.strftime("%d/%m/%Y") %></h2>

<%= render 'display' %>

<%= render :partial => "/cigs_per_days/display" %></br></br>

<%= link_to 'Show Health Data History', health_data_path %>



