<h1> Health Data and Notes </h1>
<p>Health Data:</p>
<%= render :partial => "/health_data/display" %></br></br>
<p>Latest GP Diagnosis:</p>
<%= render :partial => "/gp_diagnoses/display" %></br></br>
<p>Latest Social Work Diary:</p>
<%= render :partial => "/sw_diaries/display" %>