@import "bootstrap";
@import "bootstrap-responsive";

.thumbnail{
border: none;
box-shadow: none;
line-height:1.5;
}

.table{
table-layout:fixed
}



/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* forms */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

label {
	font-size: 50px;
	padding: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  font-size: 30px;
  width: 30%;
  padding: 20px;
  display: inline-block;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 60px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 40px;
  line-height: 1.7em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.btn-primary {
  width: 75%;
  font-size: 75px;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom: 50px;
}

.hero-unit{
width: 100%
}

#navoption {
  float: left;
  margin-left: 20px;
  font-size: 40px;
  color: white;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}




