<h1>Number of Cigarettes per day History</h1>

<table border = '1'>
  <tr>
    <th>Date</th>
    <th>No of cigs</th>
 
  </tr>

<% @cigs_per_days.each do |cigs_per_day| %>
  <tr>
    <td><%= cigs_per_day.created_at.to_date.strftime("%d/%m/%Y")%></td>
    <td><%= cigs_per_day.no_of_cigs %></td>
    <td><%= link_to 'Show', cigs_per_day %></td>
  </tr>
<% end %>
</table>

<br />
